{% load bootstrap %}
<!DOCTYPE html>

<html>
<head>
    {% bootstrap_css %}
    <script src="/static/jquery-1.7.2.min.js"></script>
    <script>
       $.classList = [];
    </script>
    {% bootstrap_custom_less "/lib/bootstrap_custom.less" %}
    $(".collapse").collapse()
    <link rel="stylesheet" type="text/css" href="static/js/fullcalendar/fullcalendar.css"/>
    <script type="text/javascript" src='/static/js/fullcalendar/fullcalendar.js'></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#calendar').fullCalendar({
            });
        })
    </script>
    <style>
        #cal{
            width:600px;
        }
    </style>
    <title>Tufts Scheduler</title>
</head>

<body>
<div class="topbar">
    <div class="fill">
        <div class="container">
            <h3 class="brand">Tufts Scheduler</h3>
            <div class="nav-collapse">
            <p class="navbar-text pull-right">
                Logged in as <a href="#">
                    {% if user.is_authenticated %}
                        {{ user.username }}
                    {% else %}
                        register
                    {% endif %}
                </a>
            </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="span7">
        <div class="hero-unit">
            <button class="btn btn-danger" data-toggle="collapse"
                data-target="#persEvent" onclick="$('#persEvent').slideDown();$('#addClasses').slideUp()">Step 1: Personal Events
            </button>
            <input type="button" class="btn primary" onclick="$('#calendar').fullCalendar('renderEvent',{id:00154,title:'BIO blah',start: new Date(2011, 8 ,14, 13, 30), end:new Date(2011,8,14,17,00),backgroundColor:'#ff0000'},true);"/>

            <div id="persEvent" class="collapse in" >
                <h2>Step 1: Personal Events</h2>
                <h3>To add a personal event to the calendar click and drag in the timeslot and enter a title</h3>
				<h3>Personal Events</h3>
                <ul id="presonal_list">
                    <li>Wind Ensemble on Monday and Wednesday from 4:30 to 6:30</li>
                </ul>
            </div>

			<button class="btn btn-danger" data-toggle="collapse"
				data-target="#addClasses" onclick="$('#addClasses').slideDown();$('#persEvent').slideUp()">Step 2: Add Classes
			</button>
            <div id="addClasses" class="collapse in" style="display:none">
                <h2>Step 2: Add Classes</h2>
                <h3>Select the department.</h3>
                <form action="">
                    {{ departments}}
                    <script>
                        $("#id_department").change(function (e) {
                            if ($(this).val()) {
                                $.get('ajax/getcourses/'+$(this).val(),
                                        function (response) {
                                            courses = $.parseJSON(response);
                                            $("#id_course").html("");
                                            for (i in courses) {
                                                console.log(courses[i]);
                                                newinner = $("#id_course").html();
                                                newinner += "<option value='"+courses[i].id+"'>"+courses[i].courseNumber+" - "+courses[i].name+"</option>";
                                                $("#id_course").html(newinner);

                                            }
                                        });
                            }
                        });
                    </script>
                    <h3>Select the class.</h3>
                    <form action="">
                        <select name="class" id="id_course">
                        </select>

                        <h3>Class Info</h3>
                        <p>Name:<br>Description:</p>
                        <form action="">
                            <input class="btn primary" id="addClass" type="button" value="Add Class">
                        </form>
                        <script>
                            $("#addClass").click(function (e) {
                                val = $("#id_course option:selected").text()
                                if (jQuery.inArray(val,$.classList) == -1 && val != "") {
                                    $("#class_list").append("<li>"+val+"</li>");
                                    $.classList.push(val)
                                }
                            });
                        </script>
            </div>

            <div id="Class List">
                <h2>List of Classes</h2>
                <ul id="class_list">
                </ul>
            </div>

            <form action="">
                <input id="magic" type="button" value="Magic" class="btn primary">
            </form>
            <script>
                $("#magic").click(function() {
                    postCourse = {};
                    for (i in $.classList) {
                        postCourse["course"+i] = $.classList[i];
                    }
                    postCourse["csrfmiddlewaretoken"] = "{{ csrf_token }}"

                    $.post('ajax/courses/',
                            postCourse,
                    function (data) {
                        events = $.parseJSON(data);
                        for (x in events) {
                            event = events[x];
                            console.log(event.date)
                            $("#calendar").fullCalendar('renderEvent',{id:event.id,title:event.title,start:new Date(2011,8,event.day,event.startHour,event.startMinute), end: new Date(2011,8,event.day,event.endHour,event.endMinute)},true)
                        }
                    });
                })
            </script>
            </ul>
            </div>
        </div>
        <div class="span13"> <div id="calendar" style="margin-top:30px"></div></div>
        </div>
    </div>
</div>

</body>
</html>
